config mqttsub 'mqttsub_sct'
	option enable '1'
	

config rule
	option topic 'testing/greet'
	option variable 'temperature'
	option variable_type 'num'
	option compare_type '>'
	option expected_value 10
	option email 'receiver@freesmtpservers.com'
config rule
	option topic 'testing/testing'
	option variable_type 'str'
	option compare_type '=='
	option expected_value 'exists'
	option email 'receiver@freesmtpservers.com'
